@import "tailwindcss";

@theme {
  --color-brand: #e63946; /* Vermelho claro elegante baseado na marca */
  --color-brand-light: #ff4d5a;
  --color-brand-dark: #cc2531;
}

@layer base {
  html {
    font-family: 'Inter', system-ui, sans-serif;
    scroll-behavior: smooth;
  }
  body {
    /* Tons de cinza claro no fundo, conforme solicitado */
    @apply bg-gray-100 text-gray-900;
  }
}
